@font-face {
  font-family: 'Commodore';
  src: url('CommodorePixelized.ttf');
}
body {
  font-family: 'Verdana';
  text-align: center;
  color: white;
  background-color: transparent;

}
canvas {
  font-size: 24px;
  outline: 1px solid white;
}
h1 {
  font-family: 'Commodore';
}
a:link {
  color: #888888;
}
a:visited {
  color: #666666;
}
a:active {
  color: #DDDDDD;
}
td {
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
div {
  width: 750px;
  margin: 0 auto;
}
input[type=button] {
  height: 110px;
  width: 110px;
  font-size: 150%;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  background-color: #f0f0f0; /* Example background color */
  color: black; /* Force text color */
  border: 1px solid #000; /* Example border */
  border-radius: 0; /* Remove rounded corners */
  -webkit-appearance: none; /* Remove iOS default styling */
}

input#spcbar {
  width: 200px;
  /* Other styling properties */
  background-color: #f0f0f0; /* Example background color */
  color: black; /* Force text color */
  border: 1px solid #000; /* Example border */
  border-radius: 0; /* Remove rounded corners */
  -webkit-appearance: none; /* Remove iOS default styling */
}
